/* loader */

.loader {
    z-index: 10;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
}

.loader-visible {
    display: flex;
}

.loader-hidden {
    display: none;
}

/* loader end */

/* general - utils */

.mt-5-vh {
    margin-top: 5vh;
}

.width-50 {
    width: 50px;
}

.m-0 {
    margin: 0;
}

.currency-details {
    border: 2px solid grey ;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 5px;
}

/* general - utils end */