/* loader */

.loader {
    z-index: 10;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
}

.loader-visible {
    display: flex;
}

.loader-hidden {
    display: none;
}

/* loader end */

/* general - utils */

.mt-5-vh {
    margin-top: 5vh;
}

.width-50 {
    width: 50px;
}

.mt-50 {
    margin-top: 50px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.mb-100 {
    margin-bottom: 100px !important;
}

.mb-150 {
    margin-bottom: 150px !important;
}

.img-responsive {
    max-width: 100%;
}

.width-100 {
    width: 100%;
}

.text-secondary-mclaren {
    font-family: 'McLaren', cursive;
}

.list-disc {
    list-style-type: disc;
}

.m-0 {
    margin: 0;
}

.margin-center {
    margin: 0 auto !important;
}

.height-80 {
    height: 80% !important;
}

/* general - utils end */

/* specific elements styles */

.send-msg-btn {
    width: 25% !important;
    margin: 0 auto !important;
}

.banner {
    font-family: 'Lobster', cursive;
}

.currency-details {
    border: 2px solid grey;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 5px;
}

label.error {
    display:block;
    width:100%;
    color: red;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
    border: 1px solid red;
    border-radius: 5px;
}

/* specific elements styles end */