/* loader */

.loader {
    z-index: 10;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
}

.loader-visible {
    display: flex;
}

.loader-hidden {
    display: none;
}

/* loader end */

.mt-5-vh {
    margin-top: 5vh;
}

.width-50 {
    width: 50px;
}

.banner {
    font-family: 'Lobster', cursive;
}

.mt-50 {
    margin-top: 50px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.img-responsive {
    max-width: 100%;
}

.width-100 {
    width: 100%;
}

.send-msg-btn {
    width: 25% !important;
    margin: 0 auto !important;
}

.text-secondary-mclaren {
    font-family: 'McLaren', cursive;
}

.list-disc {
    list-style-type: disc;
}